<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-screen-pinning" version="0.0.1">
    <name>Screen Pinning</name>
    <description>Cordova plugin exposing Android's screen pinning APIs</description>
    <license>MIT</license>
    <keywords>cordova,android,sceen pinning,locktask,single purpose device</keywords>
    <js-module name="screenPinning" src="www/screenPinning.js">
        <clobbers target="cordova.plugins.screenPinning" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ScreenPinning">
            <param name="android-package" value="me.raimaj.plugin.ScreenPinning" />
        </feature>
        </config-file>
        <source-file src="src/android/me/raimaj/plugin/ScreenPinning.java" target-dir="src/me/raimaj/plugin"/>
    </platform>
</plugin>
